.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #d1cccc;
    background-color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .pagination button:disabled {
    background-color: #f0eaea;
    color: #8f8989;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #0061A0;
    color: white;
  }
  
  .pagination span {
    margin: 0 5px;
    font-size: 16px;
  }
  