<div class="absolute w-full">
  <div class="flex justify-between items-center mt-2 px-8">
    <a routerLink="/login" class="flex flex-row justify-center items-center gap-2 px-5 py-0.5 text-white btn-back">
      <fa-icon [icon]="faArrowLeft" size="xs"></fa-icon>
      <span class="text-sm">Go back</span>
    </a>
  </div>
</div>

<div class="flex justify-center items-center bg-cover bg-no-repeat h-screen"
  style="background-image: url('assets/img/fondo-transformed.png');">
  <div class="relative px-20 pt-10 pb-5">
    <!-- Box elements -->
    <div class="top-2 left-7 z-10 absolute box-1"></div>
    <div class="top-5 left-10 absolute box-2"></div>
    <div class="top-[15rem] right-2 absolute box-3"></div>
    <div class="top-[19rem] right-[4.8rem] z-10 absolute box-4"></div>
    <div class="top-[27rem] left-[2rem] absolute box-5"></div>

    <div class="bg-white px-12 py-5 rounded-md">
      <h2 class="py-5 font-semibold text-gray-400 text-2xl text-center">Sign up</h2>


      <form #registerForm="ngForm" (ngSubmit)="register()" class="flex flex-col justify-center items-center gap-4">
        <span class="flex justify-start items-start w-full text-gray-400 text-xs">DATOS DE LA EMPRESA</span>
        <!-- Razón social y RUC -->
        <div class="flex gap-2">
          <div class="relative">
            <fa-icon [icon]="faBuildingWheat" class="top-2.5 left-4 absolute text-blue-400"></fa-icon>
            <input type="text" [(ngModel)]="user.ra_social" name="ra_social" placeholder="Razón social *" required
              class="px-10 py-2 border border-gray-200 focus:border-blue-300 rounded-lg focus:outline-none w-full"
              #raSocial="ngModel"/>
          </div>
          <div class="relative">
            <fa-icon [icon]="faHashtag" class="top-2.5 left-4 absolute text-blue-400"></fa-icon>
            <input type="text" [(ngModel)]="user.ruc" name="ruc" placeholder="RUC *" required
              class="px-10 py-2 border border-gray-200 focus:border-blue-300 rounded-lg focus:outline-none w-full"
              #ruc="ngModel"/>
          </div>
        </div>
      

      
        <!-- Teléfono y dirección -->
        <div class="flex gap-2">
          <div class="relative">
            <fa-icon [icon]="faPhone" class="top-2.5 left-4 absolute text-blue-400"></fa-icon>
            <input type="text" [(ngModel)]="user.phone" name="phone" placeholder="Número de celular *" required
              class="px-10 py-2 border border-gray-200 focus:border-blue-300 rounded-lg focus:outline-none w-full"
              #phone="ngModel"/>
          </div>
          <div class="relative">
            <fa-icon [icon]="faAddressBook" class="top-2.5 left-4 absolute text-blue-400"></fa-icon>
            <input type="text" [(ngModel)]="user.address" name="address" placeholder="Dirección *" required
              class="px-10 py-2 border border-gray-200 focus:border-blue-300 rounded-lg focus:outline-none w-full"
              #address="ngModel"/>
          </div>
        </div>
        <span class="flex justify-start items-start w-full text-gray-400 text-xs">DATOS DEL USUARIO</span>
        <!-- Nombre y Email -->
        <div class="flex gap-2">
          <div class="relative">
            <fa-icon [icon]="faUser" class="top-2.5 left-4 absolute text-blue-400"></fa-icon>
            <input type="text" [(ngModel)]="user.name" name="name" placeholder="Nombre *" required
              class="px-10 py-2 border border-gray-200 focus:border-blue-300 rounded-lg focus:outline-none w-full"
              #name="ngModel"/>
          </div>
          <div class="relative">
            <fa-icon [icon]="faEnvelope" class="top-2.5 left-4 absolute text-blue-400"></fa-icon>
            <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email *" required
              class="px-10 py-2 border border-gray-200 focus:border-blue-300 rounded-lg focus:outline-none w-full"
              #email="ngModel"/>
          </div>
        </div>
      
        <!-- Contraseña y Confirmación -->
        <div class="flex gap-2">
          <div class="relative">
            <fa-icon [icon]="faLock" class="top-2.5 left-4 absolute text-blue-400"></fa-icon>
            <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="user.password" name="password"
              placeholder="Contraseña *" required
              class="px-10 py-2 border border-gray-200 focus:border-blue-300 rounded-lg focus:outline-none w-full"
              #password="ngModel"/>
          </div>
          <div class="relative">
            <fa-icon [icon]="faLock" class="top-2.5 left-4 absolute text-blue-400"></fa-icon>
            <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="user.password_confirmation"
              name="password_confirmation" placeholder="Confirmar contraseña *" required
              class="px-10 py-2 border border-gray-200 focus:border-blue-300 rounded-lg focus:outline-none w-full"
              #passwordConfirmation="ngModel"/>
          </div>
        </div>
      
        <!-- Mensaje de error -->
        <p *ngIf="errorMessage" class="mt-2 text-red-500 text-sm">{{ errorMessage }}</p>
      
        <!-- Botón deshabilitado si el formulario es inválido o las contraseñas no coinciden -->
        <button type="submit" class="bg-blue-400 hover:bg-blue-500 px-10 py-2 rounded-lg w-full text-white"
          [disabled]="registerForm.invalid || user.password !== user.password_confirmation || isLoading">
          {{ isLoading ? 'Cargando...' : 'Registrar' }}
        </button>
      </form>
      
      <div class="flex justify-center items-center my-4">
        <div class="flex-grow border-gray-300 border-t"></div>
        <span class="px-4 text-gray-500">or</span>
        <div class="flex-grow border-gray-300 border-t"></div>
      </div>

      <!-- <div class="flex flex-wrap justify-between px-4">
        <div class="flex justify-center items-center p-2 border border-gray-300 rounded-full w-12 h-12">
          <img src="assets/img/google.jpg" alt="google" />
        </div>
        <div class="flex justify-center items-center p-2 border border-gray-300 rounded-full w-12 h-12">
          <img src="assets/img/microsoft.jpg" alt="microsoft" />
        </div>
        <div class="flex justify-center items-center p-2 border border-gray-300 rounded-full w-12 h-12">
          <img src="assets/img/facebook.png" alt="facebook" />
        </div>
      </div> -->

      <div class="flex justify-between items-center pt-10 w-full">
        <div class="text-gray-400 text-xs">Already have an account?</div>
        <a routerLink="/login" class="font-bold text-blue-500 text-sm">Login</a>
      </div>
    </div>
  </div>

</div>